{
  "plugins": [
    [
      "module-resolver",
      {
        "cwd": "babelrc",
        "root": [
          "./src"
        ],
        "extensions": [
          ".js"
        ],
        "alias": {
          "screens": "./src/screens",
          "components": "./src/components",
          "services": "./src/services",
          "store": "./src/store",
          "assets": "./src/assets"
        }
      }
    ]
  ]
}
